@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color:#003399;
    --primar-text-color:#0140FF;
}

@font-face {
    font-family: 'Gordita';
    src: url("../fonts/Gordita-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url("../fonts/Gordita-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url("../fonts/Gordita-Medium.otf") format('opentype');
    font-weight: 500; /* Ensure this matches the weight of the Medium font */
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url("../fonts/Gordita-Light.otf") format('opentype');
    font-weight: 300; /* Ensure this matches the weight of the Light font */
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gordita', sans-serif;
    font-weight: normal;
    font-style: normal;
    
}

body{
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}
body::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
}

#title{
    margin-top: 100px;
}



.line{
    width: 150px;
    height: 5px;
    background-color: var(--primar-text-color);
}

.container{
    width: 100%;
    padding: 20px 100px;
}

h1{
    font-weight: bold;
}

h2{
    font-weight: bold;
    margin-top: 20px;
}
p{
    margin-top: 20px;
}

p:last-child{
    margin-bottom: 20px;
}


@media (max-width:1024px){
    .container{
        padding: 20px;
    }
}